.header-container{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: blanchedalmond;
    padding: var(--spacing-small);

}

.header-counter{
    margin-left: auto;
    font-weight: bold;
    cursor: pointer;
}