
.products-containter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 45px;
    width: 80%;
    max-width: 1200px;
    margin: var(--spacing-large) auto;
    

}

.products-element {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 25px 20px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    
}

.products-element__name {
    margin-bottom : auto;
    font-weight: bold;
}

.products-element__img {
    width:100%;
    height: 270px;
    object-fit: contain;
    margin-top: var(--spacing-medium);
}

.products-element__price {
    margin-top: var(--spacing-medium);
    color: var(--color-price);
    font-weight: bold;

    
}

.products-element__btn {
    margin-top: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    border: 1px solid #ffeed6;
    border-radius: var(--border-radius);
    background-color: #fefaf3;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    

}

.products-element__btn_active {
    margin-top: var(--spacing-medium);
    border: 1px solid transparent;
    background-image: var(--linear-gradient);
}